/* Apply custom styles to the placeholder text */
.select2-container .select2-search--inline .select2-search__field {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
}
/* Remove border radius and change background color of the select2 tag field */
.select2-container--default .select2-selection--multiple {
    border-radius: 0; /* Remove border radius */
    border-color: transparent; /* Change border color to your preference */
    min-height: 32px;
    background-color: #8f8f8f;
}
/* Remove inner border of the select2 tag field */
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-width: 0px;
}
/* Remove border radius and change background color of the select2 category field */
.select2-container--default .select2-selection--single {
    border-radius: 0; /* Remove border radius */
    border-color: transparent; /* Change border color to your preference */
}

.select2-selection select2-selection--multiple {
    padding-right: 0px;
    padding-bottom: 0px;
}
.select2-results__option select2-results__message {
    border-radius: 0;
    border-color: #8f8f8f;
}