/* Apply custom styles to the placeholder text */
.select2-container .select2-search--inline .select2-search__field {
    color: #333;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
/* Remove border radius and change background color of the select2 tag field */
.select2-container--default .select2-selection--multiple {
    border-radius: 0; /* Remove border radius */
    border-color: transparent; /* Change border color to your preference */
}
/* Remove inner border of the select2 tag field */
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: transparent;
}
/* Set height of container */
.select2-container .select2-selection--multiple {
    min-height: 40px;
}
/* Remove border radius and change background color of the select2 category field */
.select2-container--default .select2-selection--single {
    border-radius: 0; /* Remove border radius */
    border-color: transparent; /* Change border color to your preference */
}